/* Root colors */
:root {
  --green: #76b852;
  --boldgreen:#538f33;
  --white: #fff;
  --inputwhite:#f2f2f2;
  --errormessage: #ffa4a4;
}

body {
  background: var(--green);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* space of form */
.form-container {
  width: 360px;
  background-color: var(--white);
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

/* body of form */
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

/* success message after regestering */
.success-message {
  background-color: #3f89f8;
  padding: 15px;
  color: var(--white);
}

/* form fields : firstname,lastname,email */
.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
}

input {
  background: var(--inputwhite);
}

/* error message */
.error {
  border-style: solid;
  border: 2px solid var(--errormessage);
}

button {
  background: var(--boldgreen);
  color: var(--white);
  cursor: pointer;
}

button:disabled {
  cursor: default;
}